body, html {
	height: 100%;
	min-height: 100%;
}

img {
    border-radius: 4px;
    padding: 5px;
}

.bg {  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .card-body {
    background-color: cadetblue;
    color:greenyellow;
  }

  .footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 60px;
}

.card {
    border: none;
}

.navbar {
    background-color: cadetblue;
}

.nav-link {
    color:greenyellow;
}